table {
    width: 98%;
    margin: 20px;
}
#logonav{
    height: 220px;
    width: auto;
}

div {
    margin-right: 20px;
    display: inline-flex;
}

a.button {
    display: flex;
    margin: 18px;
}

input {
    display: flex;
    margin: 20px;
    height: 35px;
    width: 200px;
}

.sinBorde {
    outline: none;
    background-color: rgb(222, 233, 251);
    border: 0;
    border-radius: 3px;
}

footer {
    background-color: #3f51b5;
    color: white;
    padding: 5px;
    font-size: small;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}